<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197594004707-kf1ehlm55j1uef1gp2nusvda1mqnc6ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197594004707-kf1ehlm55j1uef1gp2nusvda1mqnc6ar</string>
	<key>API_KEY</key>
	<string>AIzaSyCU19Q45NpG-3sPPYuknsmcpTkaFyNql-I</string>
	<key>GCM_SENDER_ID</key>
	<string>197594004707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doersApp</string>
	<key>PROJECT_ID</key>
	<string>doer-c9811</string>
	<key>STORAGE_BUCKET</key>
	<string>doer-c9811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197594004707:ios:308fcdccd67681f57cd9d6</string>
</dict>
</plist>